{% extends 'base.html' %}

{% block content %}
<div class="row post-card signup-form" style="padding: 1em">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h2 class="text-uppercase card-title">Edit your details</h2>
        <div>
            {{ edit_user_form.as_p }}
            <!-- {{ edit_userprofile_form.as_p }} -->
            <p style="font-weight: 700;">User Bio:</p>
            {{ edit_userprofile_form.user_bio }}
            <br>
            <p style="font-weight: 700;">User Profile:</p>
            <img src="{{ user.user_profile.user_image.url }}" style="border-radius: 50%"  width="150", height="150">
            <p>{{ edit_userprofile_form.user_image }}</p>
            <p>Remove: {{ edit_userprofile_form.remove_image }}</p>
            <button class="btn btn-lg" type="submit">Edit</button>
        </div>
    </form>
</div>
{% endblock %}