#search{
    text-align:center;
}

#search:active {
    border: solid 1px #D7DADC;
}
.form-control{
    background-color: #272729;
    border: solid 1px #343536;
}

.form-control:hover{
    border: solid 1px #D7DADC;
}

.btn-margin{
    margin: 8px;
}

.nav>li{
    text-align: center;
}

#navbar {
    background-color: #1A1A1B;
    border: solid 1px #343536;
}

.card, .post-card {
    border: solid 1px #343536;
    background-color: #1A1A1B;
    margin-bottom: 10px;
}

.top-card{
    margin-top: 10px;
    margin-left: 6px;
    color: #646566
}

a, p, h3{
    color: #D7DADC
}

a:hover {
    color: #D7DADC
}
.card-title{
    color: #D7DADC
}

.card-content{
    color: #CBCEC0;
    overflow: hidden;
    margin-bottom: 15px;
}

.votes{
    padding-top: 20px;
}

.votes p{
    color: #D7DADC;
    text-align: center;
}

.btn-downvote, .btn-upvote {
    text-align: center;
    color: #D7DADC;
    border: none;
    background: transparent;
}

/*.btn-upvote:hover,
.btn-upvote:active {
    color: #E84610;
    border: none;
} */

body {
    background-color: #030303;
}

a:hover {
    text-decoration: none;
}

.card:hover {
    border: solid 1px #D7DADC;
}