{% extends "base.html" %}

{% block content %}
<div class="row card" style="max-height: 300px;">
    <!-- {{ tag_menu }} -->
    <!-- <nav>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort By Tags</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for tag in tag_menu %}
                    <a class="dropdown-item" href="#">{{ tag }}</a>
                {% endfor %}
            </div>
        </li>
    </nav> -->
    <ul class="nav navbar-nav">
        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                aria-haspopup="true" aria-expanded="false">Sort By Tags</a>
            <ul class="dropdown-menu">
                {% for tag in tag_menu %}
                <li><a href="{% url 'tags' tag %}">{{ tag }}</a></li>
                <li role="separator" class="divider"></li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</div>
{% for post in post_list %}
<div class="row card" style="max-height: 300px;">
    <div class="votes col-sm-1">
        <p>
            <form action="{% url 'upvote_post_index' %}" method="POST">
                {% csrf_token %}
                {% if request.user in post.upvotes.all %}
                <button type="submit" name="post_id_upvote" value="{{post.id}}" class="btn-upvote"><i
                    class="fas fa-arrow-up" style="color: red;"></i></button>
                {% else %}
                <button type="submit" name="post_id_upvote" value="{{post.id}}" class="btn-upvote"><i
                    class="fas fa-arrow-up"></i></button>
                {% endif %}
            </form>
            <p>{{ post.total_votes }}</p>
            <form action="{% url 'downvote_post_index' %}" method="POST">
                {% csrf_token %}
                {% if request.user in post.downvotes.all %}
                <button type="submit" name="post_id_downvote" value="{{post.id}}" class="btn-downvote"><i
                    class="fas fa-arrow-down" style="color: red;"></i></button>
                {% else %}
                <button type="submit" name="post_id_downvote" value="{{post.id}}" class="btn-downvote"><i
                    class="fas fa-arrow-down"></i></button>
                {% endif %}
            </form>
        </p>
        {% if user.is_authenticated and user == post.author %}
        <h5><a href="{% url 'edit_post' post.slug %}">Edit</a></h5>
        <h5><a href="{% url 'delete_post' post.slug %}">Delete</a></h5>
        {% endif %}
    </div>
    <div class="col-sm-11">
        <div class="image-container">
            <div class="top-card">
                <p class="author"><a href="{% url 'tags' post.post_tag|slugify %}">{{ post.post_tag }}</a> - Posted by {{ post.author }} {{ post.created_on}}</p>
            </div>
        </div>
        <a href="{% url 'post_detail' post.slug %}" class="post-link">
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="card-content" style="max-height: 150px;">{{ post.content }}</p>
        </a>
        <h3>
            {% with post.comments.count as total_comments %}
            <strong class="text-secondary"><i class="far fa-comments"></i>
                {{ total_comments }}</strong>
            {% endwith %}
        </h3>
    </div>
</div>
{% endfor %}
{%endblock%}