{% extends "base.html" %}
<!-- Start of posts listed by tags -->
{% block content %}
<h1>Posts with tag of {{ tags }}.</h1>
<!-- Start of a loop to list all posts with sorted by tag -->
{% for post in tag_posts %}
<div class="row card" style="max-height: 100%;">
    <div class="votes col-sm-1">
        <div>
            <form action="{% url 'upvote_post' post.slug %}" method="POST">
                {% csrf_token %}
                {% if request.user in post.upvotes.all %}
                <button type="submit" name="post_id_upvote" value="{{post.id}}" class="btn-upvote"><i
                    class="fas fa-arrow-up vote-status"></i></button>
                {% else %}
                <button type="submit" name="post_id_upvote" value="{{post.id}}" class="btn-upvote"><i
                    class="fas fa-arrow-up"></i></button>
                {% endif %}
            </form>
            {{ post.total_votes }}
            <form action="{% url 'downvote_post' post.slug %}" method="POST">
                {% csrf_token %}
                {% if request.user in post.downvotes.all %}
                <button type="submit" name="post_id_downvote" value="{{post.id}}" class="btn-downvote"><i
                    class="fas fa-arrow-down vote-status"></i></button>
                {% else %}
                <button type="submit" name="post_id_downvote" value="{{post.id}}" class="btn-downvote"><i
                    class="fas fa-arrow-down"></i></button>
                {% endif %}
            </form>
        </div>
        {% if user.is_authenticated and user == post.author %}
        <h5><a href="{% url 'edit_post' post.slug %}">Edit</a></h5>
        <h5><a href="{% url 'delete_post' post.slug %}">Delete</a></h5>
        {% endif %}
    </div>
    <div class="col-sm-11">
        <div class="image-container">
            <div class="top-card">
                <p class="author">{{ post.post_tag }} - Posted by {{ post.author }} {{ post.created_on}}</p>
            </div>
        </div>
        <a href="{% url 'post_detail' post.slug %}" class="post-link">
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="card-content" style="max-height: 150px;">{{ post.content }}</p>
        </a>
    </div>
</div>
{% endfor %}
<!-- End of a loop to list all posts with sorted by tag -->
{%endblock%}
<!-- End of posts listed by tags -->