{% extends "base.html" %}

{% block content %}
<h1>Posts with tag of {{ tags }}.</h1>
{% for post in tag_posts %}
<div class="row card" style="max-height: 300px;">
    <div class="votes col-sm-1">
        <p>
            <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-upvote"><i
                    class="fas fa-arrow-up"></i></button>
            0
            <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-downvote"><i
                    class="fas fa-arrow-down"></i></button>
        </p>
        {% if user.is_authenticated and user == post.author %}
        <h5><a href="{% url 'edit_post' post.slug %}">Edit</a></h5>
        <h5><a href="{% url 'delete_post' post.slug %}">Delete</a></h5>
        {% endif %}
    </div>
    <div class="col-sm-11">
        <div class="image-container">
            <div class="top-card">
                <p class="author">{{ post.post_tag }} - Posted by {{ post.author }} {{ post.created_on}}</p>
            </div>
        </div>
        <a href="{% url 'post_detail' post.slug %}" class="post-link">
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="card-content" style="max-height: 150px;">{{ post.content }}</p>
        </a>
    </div>
</div>
{% endfor %}

{%endblock%}